.modal-container {
  width: 70%;
  height: 80vh;
}

.modal-content {
  display: flex;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 10px 0 20px 0;
}

.header-hr {
  width: 200px;
  margin: 0 auto;
}

.close-icon {
  position: absolute;
  left: -5px;
  top: 10px;
  width: 70px;
}

.form-section {
  display: flex;
  flex-direction: row;
}

.left-section {
  margin: 0 10px 0 20px;
  display: inline-block;
  width: 50%;
}

.name-select {
  width: 100%;
  height: 30px;
  color: #000080;
  font-weight: 600;
  border-radius: 5px;
}

.left-hr {
  width: 250px;
}

.right-section {
  margin: 0 20px 0 20px;
  width: 40%;
  display: inline-block;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.footer-text {
  display: flex;
  justify-content: center;
}

.footer-text p {
  justify-content: center;
}

.import-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
