.box-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #a0a0a0;
  border-radius: 10px;
  font-size: 12px;
  outline: none;
}

.document-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffad33;
  /* width: 70px; */
}

.border-div {
  width: 100%;
  padding: 20px;
  border: 1px dashed #a0a0a0;
}

.drop-text {
  display: flex;
  justify-content: center;
}

.upload-button {
  margin-top: 10px;
}
