body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "~bootstrap/dist/css/bootstrap.css";

/* buttons */

.button1 {
  background-color: #000080;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  width: 180px;
}

.button2 {
  background-color: #fff;
  color: #ffad33;
  border: 2px solid #ffad33;
  font-size: 14px;
  font-weight: 600;
  width: 180px;
}

/* global text colors */

.blue-text {
  color: #000080;
}

.gray-text {
  color: #a0a0a0;
}

.bold {
  font-weight: 600;
}
